.about-heading{
    margin: 2rem 0rem 2rem 0rem;
    padding-block: 1.5rem;
    text-align: center;
    background-color: hsl(var(--clr-gray));
  }

.about-section{
    width: 90vw;
    margin-inline: auto;
    margin-block: 4rem;
    grid-template-columns: repeat(1, 1fr);
}

.about-section > *img{
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.about-info p{
    line-height:1.8rem;
}

.about-btn{
    margin-top: 3rem;
}


/* Desktop */
@media (min-width: 59em){
    .about-section{
        grid-auto-columns: 1fr;
        align-items: center;
        --grid-gap: 3rem;
        grid-template-columns:repeat(2,1fr);
    }

    .about-info{
        display: grid;
        place-content: center;
    }

    .about-info > h3{
        font-size: 1rem;
    }
}