.text-align{
    text-align: center;
}

.p-top{
    padding: 1rem 0;
}

.copyright{
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    margin-inline: auto;
    background-color: hsl(var(--clr-black));
    color: hsl(var(--clr-white) / 0.5);
}

@media (min-width:35em) and (max-width:59em) {
    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width:59em) {
    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-font{
        font-size: 1rem;
    }
}