/* Hero Section */
.hero-section {
  width: 93vw;
  margin-inline: auto;
  background-color: hsl(var(--clr-gray));
  border-radius: 2rem;
}

.hero-img {
  width: inherit;
  height: inherit;
  border-radius: 2rem;
}

.hero-inner {
  justify-content: space-between;
  align-items: center;
  --flex-gap: 5rem;
  padding-bottom: 4rem;
}

.hero-info {
  display: none;
}

/* Tab */
@media (min-width:35em) and (max-width:59em) {
  .hero-section {
    width: 95vw;
    margin-inline: auto;
  }

  .lineheight2 {
    --line2: 7rem
  }

}

/* Desktop */
@media (min-width: 59rem) {
  .hero-section {
    width: 95vw;
    margin-inline: auto;
  }


  .lineheight {
    --line: 4rem;
  }

  .lineheight2 {
    --line2: 13rem;
  }

  .hero-info {
    display: block;
    text-align: end;
    width: 25%;
  }

  .big {
    field-sizing: 5rem;
  }

  .hero-inner {
    margin-top: -14rem;
    padding-bottom: 8rem;
  }
}



/* Product Section */
.product-categories {
  width: 93vw;
  margin-inline: auto;
}

.category {
  border-radius: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  padding: 7rem 4rem 1rem 1rem;
  position: relative;
  overflow: hidden;
  z-index: 777;
  margin-block: 1rem;
}

.product-img>img{
  max-width: 220px;
}

.product-btn {
  margin-top: 1rem;
  padding-inline: 2rem;
}

.product {
  color: hsl(var(--clr-gray-light));
}

.product-img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: -11;
}



/* Layout for Tab and Desktop */

@media (min-width:35em) and (max-width:59em) {


  .product-categories {
    width: 95vw;
    margin-inline: auto;
    margin-block: 2rem;
    gap: 1.5rem;
    display: grid;

  }

  .category {
    border-radius: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    padding: 7rem 4rem 2rem 4rem;
    position: relative;
    overflow: hidden;
    z-index: 777;
    margin-block: 1rem;
  }
}

@media (min-width:59em) {

  .product-categories {
    width: 95vw;
    margin-inline: auto;
    margin-block: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    /* Two items per row */
  }

  .category {
    border-radius: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    padding: 7rem 4rem 1.2rem 1.2rem;
    position: relative;
    overflow: hidden;
    z-index: 777;
    margin-block: 1rem;
  }

  .lineheight {
    --line: 3rem;
  }

  .lineheight2 {
    --line: 3rem;
  }
}



/* Service Section */
.service-section {
  width: 90vw;
  margin-inline: auto;
  margin-block: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    'one two'
    'three four';
}

.service:nth-child(1) {
  grid-area: one;
}

.service:nth-child(2) {
  grid-area: two;
}

.service:nth-child(3) {
  grid-area: three;
}

.service:nth-child(4) {
  grid-area: four;
}

.service {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
}

.service .fs-200 {
  font-size: 0.9rem;
}

.service .fs-50 {
  font-size: 0.79rem;
}

/* Layout for Tab and Desktop */

@media (min-width:59em) {

  .service-section {
    width: 90vw;
    margin-inline: auto;
    display: grid;
    gap: 5rem;
    grid-template-areas: 'one two three four';
  }

  .service .fs-200 {
    font-size: 1rem;
  }

  .service .fs-50 {
    font-size: 0.79rem;
  }

}


/* Best Selling */
.best-product-heading,
.product-categories-heading,
.service-heading {
  margin: 2rem 0rem 2rem 0rem;
  padding-block: 1.5rem;
  text-align: center;
  background-color: hsl(var(--clr-gray));
}

.best-seller {
  width: 90vw;
  margin-inline: auto;
  text-align: center;
  display: grid;
  gap: 3rem;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven'
    'eight';
}

.best-seller:nth-child(1) {
  grid-area: one;
}

.best-seller:nth-child(2) {
  grid-area: two;
}

.best-seller:nth-child(3) {
  grid-area: three;
}

.best-seller:nth-child(4) {
  grid-area: four;
}

.best-seller:nth-child(5) {
  grid-area: five;
}

.best-seller:nth-child(6) {
  grid-area: six;
}

.best-seller:nth-child(7) {
  grid-area: seven;
}

.best-seller:nth-child(8) {
  grid-area: eight;
}

.best-seller-product {
  text-align: left;
  --gap-gap: 0.5rem;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
}

.best-seller-product:hover {
  color: hsl(var(--clr-red));
}

.product-details {
  position: absolute;
  height: 25%;
  place-items: center;
  font-size: 1.5rem;
  --grid-gap: -1rem;
  width: 10%;
  right: 0;
  top: 0;
  border-radius: 0.5rem;
  transform: translateX(120%);
  transition: transform 250ms ease-in-out;
}

.best-seller-product:hover .product-details {
  transform: translateX(0%);
}

.best-seller-product>img {
  border-radius: 2rem;
}

.letter-spacing {
  letter-spacing: -1px;
  font-size: 2.5rem;
}

@media (min-width:35em) and (max-width:59em) {
  .best-seller {
    padding-block: 2rem;
    grid-template-areas:
      'one two'
      'three four'
      'five six'
      'seven eight';
  }

}

@media (min-width:59em) {
  .best-seller {
    width: 95vw;
    padding-block: 2rem;
    grid-template-areas:
      'one two three four'
      'five six seven eight';
  }
}